// sitenav-openButton
.hamburger {
  padding: 5px 5px;
  cursor: pointer;
  display: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  z-index: 5;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  background-color: transparent;
  outline: none;
  &.is-active {
    background-color: transparent;
    
    
    .hamburger-inner {
      background-color: #fff;
      
      &::before, &::after {
        background-color: #fff;
      }
    }
  }
}

.hamburger-box {
  width: 25px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  
  &::before, &::after {
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  
  &::before, &::after {
    content: "";
    display: block;
  }
  
  &::before {
    top: -10px;
  }
  
  &::after {
    bottom: -10px;
  }
}

.hamburger--squeeze {
  .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    
    &::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }
    
    &::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
  
  &.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    
    &::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }
    
    &::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}
@include breakpoint-down(750px){
 .hamburger{
  display: inline-block;
 }
}



// sitenav-openButton